
/1-1/
/gyakorlas/
/1-2_gyakorlat.py
/core12.py
/desktop.ini
/excel-import.py
/fofeladat.py
/fofeladat-robi.py
/get_file_data.py
/json-file.py
/my_text.txt
/phonebook.json
/phonebook.xlsx
/read_write_text.py
/benzin/holtankoljak.py
/benzin/benzin.py
